div > h2 {
  background-color: olive;
  color: white;
  width: fit-content;
  padding: 0.5rem;
}

section {
  margin: 1rem 0 1rem 0;
  border: 1px solid olive;
  padding: 1rem;
  border-radius: 1rem;
}

article {
  background-color: rgba(128, 128, 0, 0.5);
}

.container {
  display: inline-block;
  padding: 1rem;
  min-width: 12rem;
}

.imageWrapper {
  height: 3rem;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
